<% trackers = Tracker.select([:id, :name]).all %>

<h2> Available trackers:</h2>
<div>
  <% trackers.each do |tracker| %>
    <div><%= tracker.id %>: <%= tracker.name %></div>
  <% end %>
</div>
<br />
<h2> Add the ids as a comma separated list. </h2>

<table>
  <tr>
    <td>Root node ids:</td>
    <td><input type="text" id="settings_root_nodes" name="settings[root_nodes]" value="<%= settings['root_nodes'] %>"></td>
  </tr>
  <% trackers.each do |tracker| %>
    <tr>
      <% input_name = tracker.name.downcase.split(' ').join('_') %>
      <td><%= tracker.name %> parent ids:</td>
      <td><input type="text" id='settings_parents_for_<%= input_name %> ' name="settings[parents_for_<%= input_name %>]" value="<%= settings["parents_for_#{input_name}"] %>"></td>
    </tr>
  <% end %>
</table>
